/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  Fonts
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

$fallback-family: Helvetica Neue, Helvetica, Arial, sans-serif
$avenir-thin: 'Avenir Next W01 Thin', $fallback-family
$avenir-thin-italic: 'AvenirNextW01-ThinItali', $fallback-family
$avenir-regular: 'AvenirNextLTW01-Regular', $fallback-family
$avenir-regular-italic: 'AvenirNextLTW01-Italic', $fallback-family
$avenir-bold: 'Avenir Next LT W01 Demi', $fallback-family
$avenir-bold-italic: 'AvenirNextLTW01-DemiIta', $fallback-family
$normal: $avenir-thin
$normal-italic: $avenir-thin-italic
$bold: $avenir-bold
$bold-italic: $avenir-bold-italic


/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  Colors
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

$orange: rgb(235, 158, 0)
$orange-with-alpha: rgba(235, 158, 0, .8)
$orange-white: #fffefc
$orange-dark: darken($orange, 10%)
$background: white


/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  Responsive Breakpoints
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

$xlarge-view-min: 1221px
$large-view-min: 1025px
$small-view-min: 451px


/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  Mixins
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

@mixin clearfix
  &:before, &:after
    content: ""
    display: block
    clear: both

@mixin border-box-sizing
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box


/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
Styles
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

body
  font-size: 16px
  font-family: $normal
  color: $orange
  cursor: default

em
  font-family: $normal-italic

h1, h2, h3, h4, h5
  font-family: $bold

p
  line-height: 2em

a
  color: $orange
  text-decoration: none
  font-family: $avenir-regular
  transition: color .4s
  cursor: pointer
  &:hover
    color: $orange-dark

header
  @include border-box-sizing
  position: fixed
  top: 0
  width: 100%
  margin: 0
  padding: 1em 1em
  @media (min-width: $xlarge-view-min)
    padding: 1em 4em
  background-color: $orange-with-alpha
  @include clearfix
  h1
    float: left
    width: 62px
    height: 62px
    margin: 0
    text-indent: -100%
    background: transparent url(../images/logo@2x.png) top left no-repeat
    background-size: 62px
  ul
    float: right
    width: 75%
    @media (max-width: $small-view-min)
      font-size: .8em
    li
      float: right
      padding-left: 2em
      line-height: 62px
      a
        font-family: $normal
        color: white
        &:hover
          color: lighten($orange, 40%)

#content
  margin-top: 5.9em
  padding: 2em 1em
  @media (min-width: $xlarge-view-min)
    padding: 2em 4em
  &:after
    content: ""
    display: block
    clear: both
  section#intro
    margin: 0 -2% 1em 0
    @include clearfix
    p
      @include border-box-sizing
      float: left
      width: 100%
      margin: 0 0 1em
      padding: 0 2% 0 0
      vertical-align: top
      @media (min-width: $large-view-min)
        width: 33.33%
        margin: 0px
  ul#skills
    @include border-box-sizing
    @include clearfix
    clear: both
    margin: 0em -1% 2em
    padding: 0
    li
      @include border-box-sizing
      display: block
      float: left
      width: 48%
      margin: 1%
      padding: 1em
      font-size: .8em
      text-align: center
      line-height: 1em
      background: lighten($orange, 50%)
      border-radius: .4em
      @media (max-width: $small-view-min)
        min-width: 0
        font-size: .6em
      @media (min-width: $large-view-min)
        width: 31%
      @media (min-width: $xlarge-view-min)
        width: 18%
  &.blog
    article
      h2
        margin: 1em 0
        font-size: 1.2em
        letter-spacing: .1em
        text-transform: uppercase
      p
        margin: 1em 0
        line-height: 1.5em
      section
        &.meta
          margin: .5em 0
          font-size: .7em
          ul
            li
              display: inline-block
              padding: .4em .4em .2em
              border-radius: .3em
              background: rgba(235, 158, 0, .2)
