/* Fonts */
$fallback-family: Helvetica Neue, Helvetica, Arial, sans-serif
$avenir-thin: 'Avenir Next W01 Thin', $fallback-family
$avenir-thin-italic: 'AvenirNextW01-ThinItali', $fallback-family
$avenir-regular: 'AvenirNextLTW01-Regular', $fallback-family
$avenir-regular-italic: 'AvenirNextLTW01-Italic', $fallback-family
$avenir-bold: 'Avenir Next LT W01 Demi', $fallback-family
$avenir-bold-italic: 'AvenirNextLTW01-DemiIta', $fallback-family
$normal: $avenir-thin
$normal-italic: $avenir-thin-italic
$bold: $avenir-bold
$bold-italic: $avenir-bold-italic

/* Colors */
$orange: #eb9e00
$orange-white: #fffefc
$orange-dark: darken($orange, 10%)
$background: white

/* Responsive Breakpoints */
$desktop-min: 980px

/* Mixins */
@mixin clearfix
  &:before, &:after
    content: ""
    display: block
    clear: both

body
  font-size: 1em
  font-family: $normal
  color: $orange
  cursor: default

em
  font-family: $normal-italic

h1, h2, h3, h4, h5
  font-family: $bold

p
  line-height: 2em

a
  color: $orange
  text-decoration: none
  font-family: $avenir-regular
  transition: color .4s
  cursor: pointer
  &:hover
    color: $orange-dark

header
  margin: 0
  padding: .5em 4em
  background-color: $orange
  @include clearfix
  h1
    float: left
    width: 80px
    height: 80px
    margin: 0
    text-indent: -100%
    background: transparent url(../images/logo@2x.png) top left no-repeat
    background-size: 80px
  ul
    float: right
    width: 50%
    li
      float: right
      padding-left: 2em
      line-height: 80px
      a
        font-family: $normal
        color: lighten($orange, 40%)
        &:hover
          color: white

#content
  padding: 2em .5em
  @media (min-width: $desktop-min)
    padding: 2em 4em
  &:after
    content: ""
    display: block
    clear: both
  section#intro
    margin: 0 -2% 1em 0
    @include clearfix
    p
      box-sizing: border-box
      float: left
      width: 100%
      margin: 0 0 1em
      padding: 0 2% 0 0
      vertical-align: top
      @media (min-width: $desktop-min)
        width: 33.33%
        margin: 0px
  ul#skills
    box-sizing: border-box
    clear: both
    margin: 2em -1%
    padding: 0
    @media (min-width: $desktop-min)
      @include clearfix
    li
      box-sizing: border-box
      display: block
      float: left
      width: 50%
      margin: .5em 0
      @media (min-width: $desktop-min)
        width: 18%
        margin: 1%
        padding: 1em
        font-size: 14px
        text-align: center
        line-height: 1em
        background: lighten($orange, 50%)
        border-radius: .4em
