%section#intro
  %p Hi, I’m Robbie Pitts. By day, I’m a full-stack web developer, and by night, also a full-stack web developer. Detail and minutae are of particular interest to me but I also enjoy stepping back and talking big-picture.
  %p My primary tools consist of Rails, Javascript, and transcompiled languages like HAML, SASS, and CoffeeScript. I prefer TDD methodologies but also do work in less structured environments.
  %p I would probably love to get to know you and/or work with you. Just holler at me: <a href="mailto:self@rpitts.me">self@rpitts.me</a>. Alternatively, you can creep around my various www properties: <a href="https://github.com/rdpitts">GitHub</a>, <a href="https://coderwall.com/sweatypitts">Coderwall</a>, <a href="http://www.linkedin.com/in/robertdeanpitts">LinkedIn</a>, <a href="https://twitter.com/sweatypitts">Twitter</a>, <a href="http://felinusmaximus.tumblr.com/">Felinus Maximus</a>.

%ul#skills
  %li Ruby on Rails
  %li Ruby
  %li Scala
  %li HTML5
  %li HAML
  %li CSS
  %li SASS
  %li LESS
  %li JavaScript
  %li CoffeeScript
  %li Responsive development
  %li Cucumber
  %li Capybara
  %li Minitest
  %li Rspec
  %li TDD
  %li jQuery
  %li MooTools
  %li MySQL
  %li PostgreSQL
  %li MongoDB
  %li Google Maps API
  %li Git
